In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('Resources/Amazon Sales FY2020-21.csv',low_memory=False) 
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,Sign in date,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,1/10/20,received,574772,oasis_Oasis-064-36,21,89.9,1798.0,0.0,1798.0,...,8/22/06,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,1/10/20,received,574774,Fantastic_FT-48,11,19.0,190.0,0.0,190.0,...,8/22/06,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,1/10/20,complete,574777,mdeal_DMC-610-8,9,149.9,1199.2,0.0,1199.2,...,8/22/06,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,1/10/20,complete,574779,oasis_Oasis-061-36,9,79.9,639.2,0.0,639.2,...,8/22/06,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,13/11/2020,received,595185,MEFNAR59C38B6CA08CD,2,99.9,99.9,0.0,99.9,...,8/22/06,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [10]:
df.shape

(286392, 35)

In [13]:
df.info

<bound method DataFrame.info of          order_id  order_date      status  item_id                    sku  \
0       100354678     1/10/20    received   574772     oasis_Oasis-064-36
1       100354678     1/10/20    received   574774        Fantastic_FT-48
2       100354680     1/10/20    complete   574777        mdeal_DMC-610-8
3       100354680     1/10/20    complete   574779     oasis_Oasis-061-36
4       100367357  13/11/2020    received   595185    MEFNAR59C38B6CA08CD
...           ...         ...         ...      ...                    ...
286387  100562365  30/09/2021        paid   905179    APPCHA5AF14939B8F8A
286388  100562376  30/09/2021         cod   905191    MEFCOT5A8D1E973B886
286389  100562383  30/09/2021         cod   905200  WOFVAL59D5EA84167F9-M
286390  100562384  30/09/2021         cod   905202  WOFNIG5B4D7EB0E9FDD-L
286391  100562386  30/09/2021  processing   905205    MATHUA5AF70A7D1E50A

        qty_ordered   price   value  discount_amount   total  ...  \
0                21    89.9  1798.0              0.0  1798.0  ...
1                11    19.0   190.0              0.0   190.0  ...
2                 9   149.9  1199.2              0.0  1199.2  ...
3                 9    79.9   639.2              0.0   639.2  ...
4                 2    99.9    99.9              0.0    99.9  ...
...             ...     ...     ...              ...     ...  ...
286387            2  4419.9  4419.9              0.0  4419.9  ...
286388            2    39.9    39.9              0.0    39.9  ...
286389            2    40.0    40.0              0.0    40.0  ...
286390            2    49.9    49.9              0.0    49.9  ...
286391            2  3559.9  3559.9              0.0  3559.9  ...

       Sign in date    Phone No.      Place Name    County           City  \
0           8/22/06  405-959-1129         Vinson    Harmon         Vinson
1           8/22/06  405-959-1129         Vinson    Harmon         Vinson
2           8/22/06  405-959-1129         Vinson    Harmon         Vinson
3           8/22/06  405-959-1129         Vinson    Harmon         Vinson
4           8/22/06  405-959-1129         Vinson    Harmon         Vinson
...             ...           ...            ...       ...            ...
286387      3/21/07  212-772-7404      Rushville     Yates      Rushville
286388     10/24/11  229-817-9451  Lawrenceville  Gwinnett  Lawrenceville
286389      7/25/87  252-414-8396         Durham    Durham         Durham
286390      7/25/87  252-414-8396         Durham    Durham         Durham
286391      1/28/15  423-276-2699      Knoxville      Knox      Knoxville

       State    Zip     Region    User Name Discount_Percent
0         OK  73571      South      jwtitus              0.0
1         OK  73571      South      jwtitus              0.0
2         OK  73571      South      jwtitus              0.0
3         OK  73571      South      jwtitus              0.0
4         OK  73571      South      jwtitus              0.0
...      ...    ...        ...          ...              ...
286387    NY  14544  Northeast     bklatham              0.0
286388    GA  30044      South   bmbrunetti              0.0
286389    NC  27701      South     fngiusti              0.0
286390    NC  27701      South     fngiusti              0.0
286391    TN  37920      South  reschlosser              0.0

[286392 rows x 35 columns]>

In [12]:
# Plotting
ax = df[['Gender', 'category']].plot.hist(bins=30, alpha=0.7, figsize=(12, 6))

# Adding titles and labels
ax.set_title('Histogram of Two Variables')
ax.set_xlabel('Value')
ax.set_ylabel('Frequency')

# Display the plot
plt.show()

TypeError: no numeric data to plot

In [ ]:
# Group by 'Category' and 'Product' and count occurrences
count_df = df.groupby(['Gender', 'category']).size().reset_index(name='Counts')
print(count_df)

In [14]:
count_df_F = count_df.loc[count_df["Gender"]=="F"]
count_df_F

NameError: name 'count_df' is not defined

In [15]:
count_df_F.plot(x="category",y="Counts")
plt.xticks(rotation=70)
plt.ylabel("quantity")
plt.title("Female Category vs. Quantity Purchased")
plt.show()

NameError: name 'count_df_F' is not defined

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt